.mapContainer {
    position: absolute;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
}

.info {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 7px;
    border-radius: 10px;
    color: white;
}